body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.world-boundary {
  border: 1px solid red;
  height: 600px;
  width: 1200px;
  right: 20px;
}

.tile {
  display: inline-flex;
}

.wall {
  background-image: url('./wall-sprites-pacman.png');
}

.food {
  background-image: url('./pacman-food.jpg');
  background-color: black;
}


